<p-dropdown
  [options]="variants"
  [(ngModel)]="selectedVariant"
  (onChange)="onVariantChange($event.value)"
  optionLabel="variant"
  [filter]="true"
  filterBy="variant"
  [showClear]="true"
  [style]="{'width': '100%'}"
  placeholder="Variant">
  <!-- Selected Option -->
  <ng-template pTemplate="seletedItem" let-selectedVariant>
    <div class="d-flex align-items-center">
      <div>{{selectedVariant.variant}}</div>
    </div>
  </ng-template>
  <!-- Items -->
  <ng-template let-variant pTemplate="item">
    <div class="d-flex align-items-center">
      <div>{{variant.variant}}</div>
    </div>
  </ng-template>
</p-dropdown>
