<p-dropdown
  [options]="years"
  [(ngModel)]="selectedYear"
  (onChange)="onChangeYear($event.value)"
  optionLabel="year"
  [showClear]="true"
  [style]="{'width':'100%'}"
  placeholder="Year">
  <ng-template pTemplate="selectedItem" let-selectedYear>
    <div class="d-flex align-items-center">
      <div>{{selectedYear.year}}</div>
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-year>
    <div class="d-flex align-items-center">
      <div>{{year.year}}</div>
    </div>
  </ng-template>
</p-dropdown>
