<!--  The main table -->
<p-table
  [value]="mcqQuestionResponse.content ?? []"
  paginator="true"
  [rows]="size"
  [totalRecords]="mcqQuestionResponse.totalElements!"
  [tableStyle]="{ 'min-width': '25rem' }"
  [lazy]="true"
  (onLazyLoad)="loadMcqQuestions($event)"
  [rowsPerPageOptions]="[10, 50, 100]"
  styleClass="p-datatable-striped"
>
  <!--    The header of the questions table  -->
  <ng-template pTemplate="header">
    <tr>
      <th>Status</th>
      <th>Question</th>
      <th>Season</th>
      <th>Subject</th>
      <th>Level</th>
      <th>ExamBoard</th>
      <th>Acceptance</th>
    </tr>
  </ng-template>
  <!--  The body of the questions table  -->
  <ng-template pTemplate="body" let-mcqQuestion>
    <tr>
      <td>
        <i *ngIf="mcqQuestion.completedByCurrentUser == true; else mcqNotCompleted" class="pi pi-check-circle"></i>
        <ng-template #mcqNotCompleted>
          <i class="pi pi-circle"></i>
        </ng-template>
      </td>
      <td>
        <p>{{mcqQuestion.mcqQuestionCode}}</p>
        <app-truncate-text [text]="mcqQuestion.mcqQuestionDescription" [maxLength]="50"/>
      </td>
      <td>{{mcqQuestion.seasonCode}}</td>
      <td>{{mcqQuestion.subject}}</td>
      <td>{{mcqQuestion.levelCode}} Level</td>
      <td>{{mcqQuestion.examBoard}}</td>
      <td>Add acceptance</td>
    </tr>
  </ng-template>
</p-table>
