<div class="full-page-container">
  <p-splitter class="custom-splitter" layout="vertical">
    <ng-template pTemplate>
      <div class="panel-content">
        <p-card header="Panel 1" class="custom-card">
          <p class="m-0">
            Now working
          </p>
        </p-card>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <div class="panel-content">
        <p-card header="Panel 2" class="custom-card">
          <p class="m-0">
            Now working
          </p>
        </p-card>
      </div>
    </ng-template>
  </p-splitter>
</div>
