<div class="col-12">
  <app-dashboard-sidebar-menu/>
</div>
<div class="container-fluid">
  <p-splitter
    layout="vertical">
    <!--    First panel: add question -->
    <ng-template pTemplate>
      <div class="col-12">
        <app-add-mcq-question-panel/>
      </div>
    </ng-template>

    <!--    Second panel: add mcq options and save mcq-question answer -->
    <ng-template pTemplate>
      <div class="col-12">
        <app-add-mcq-options-panel/>
      </div>
    </ng-template>
  </p-splitter>
</div>
