<div class="container-fluid col-12 h-100 w-100 mb-3">
  <p-card *ngIf="mcqQuestionResponse"
          class="custom-card"
          header="{{mcqQuestionResponse.mcqQuestionCode}}">
    <ng-template pTemplate="body">
      <!--   Subheader   -->
      <div class="col-12 mb-4 d-flex align-items-start">
        <div class="me-4">
          <!-- Show the completion icon  -->
          <i *ngIf="mcqQuestionResponse.completedByCurrentUser == true; else mcqNotCompleted" class="pi pi-check-circle"></i>
          <ng-template #mcqNotCompleted>
            <i class="pi pi-circle"></i>
          </ng-template>
        </div>
        <div>
          {{mcqQuestionResponse.subject}} | {{mcqQuestionResponse.levelCode}} Level | {{mcqQuestionResponse.year}} | {{mcqQuestionResponse.seasonCode}} | {{mcqQuestionResponse.variant}}
        </div>
      </div>

      <!--  The question    -->
      <div class="d-flex align-items-start col-12 mb-4">
        <p class="fw-bold mb-0  ">{{mcqQuestionResponse.mcqQuestionNumOnOriginalPaper}}.</p>&nbsp;
        <app-math-jax-paragraph [mathString]="mcqQuestionResponse.mcqQuestionDescription || ''"/>
      </div>

      <!-- The options  -->
      <div class="ms-5 flex flex-column gap-3">
        <div class="d-flex align-items-center mb-4" *ngFor="let option  of transformedMcqOptions | keyvalue">
          <p-radioButton
            [id]="option.key"
            [value]="option.key"
            [(ngModel)]="selectedOption"
            [name]="option.value.mcqOptionRep"/>
          <label [for]="option.key" class="fs-5">
            &nbsp;<strong>{{ option.value.mcqOptionRep }}</strong>&nbsp;
          </label>
          <label [for]="option.key" class="d-flex align-items-center justify-content-sm-center">
            {{ option.value.mcqOptionDes }}
          </label>
        </div>
      </div>

      <!--  The submit button -->
      <div class="d-flex flex-column align-items-center justify-content-center">
        <ng-template [ngIf]="responseMessageNeg">
          <div class="alert alert-danger mb-1" role="alert" style="padding: 0.25rem; margin: 0.5rem;">
            <p style="margin: 0;">Select at least one option.</p>
          </div>
          <br>
        </ng-template>
        <button (click)="evaluateSelectedOption()" class="btn btn-secondary shadow-lg" type="submit">
          Submit
        </button>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <!-- Show errors  -->
      <!--  todo do it better   -->
      <ng-template [ngIf]="errorMsg.length != 0">
        <div class="alert alert-danger mb-3" role="alert">
          <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
        <br>
      </ng-template>

      <ng-template [ngIf]="isCorrectAnswer">
        <!-- Accepted Label -->
        <span class="label-accepted mb-2">{{curOptionAnswer}}&nbsp;: Accepted</span>
      </ng-template>
      <ng-template [ngIf]="isWrongAnswer">
        <!-- Wrong Answer Label -->
        <span class="label-wrong">{{curOptionAnswer}}&nbsp;: Wrong Answer</span>
      </ng-template>
    </ng-template>
  </p-card>
</div>
