<div class="container-fluid col-12 h-100 w-100">
  <div class="row h-100 col-12">
      <div class="col-lg-6">
        <!--  Display errors if any  -->
        <div>
          <ng-template [ngIf]="errorMsg.length != 0">
            <div class="alert alert-danger mb-3" role="alert">
              <p *ngFor="let msg of errorMsg">{{msg}}</p>
            </div>
            <br>
          </ng-template>

          <app-panel-1-view-mcq [mcqQuestionResponse]="mcqQuestionResponse"/>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <app-panel-2-view-mcq [mcqQuestionResponse]="mcqQuestionResponse" class="w-100 h-100"/>
        </div>
      </div>
  </div>
</div>
